/* pages/confirmOrder/confirmOrder.wxss */
page{
  background:#f5f5f5;
}
.address{
  background:#fff;
  border-top:1px solid #ddd;
  padding:20rpx;
}
.address .iconfont{
  color:red;
  font-weight:bold;
  margin-right:15rpx;
}
.address  .tuzhang{
  color:#fff;
  background:#FCA5A5;
  font-size:22rpx;
  padding:3rpx 10rpx;
  text-align:center;
}
.address  .quhuo{
  margin-top:20rpx;
}
.goodsList{
  background:#fff;
  margin:20rpx 0;
  width:100%;
}
.goodsList .dianpu .dianpuTitle{
  height:90rpx;
  padding:0 20rpx;
  border-bottom:1px solid #ddd;
}
.dianpuTitle .shoptitle{
  font-size:32rpx;
  color:red;
}
.goodsList .dianpu .dianpuTitle image{
  width:70rpx;
  height:70rpx;
  border-radius:50%;
  margin-right:20rpx;
}
.goodsList .dianpuContent{
  padding:20rpx;
}
.goodsList .dianpuContent image{
  width:150rpx;
  height:150rpx;
  margin-right:20rpx;
}
.goodsList .dianpuContent .goods{
  width:540rpx;
}
.youhuiquan{
  background:#fff;
  padding:20rpx;
  margin-bottom:20rpx;
}
.bottom{
  background:#fff;
  position:fixed;
  bottom:0;
  width:750rpx;
  height:90rpx;
}
.bottom .goPay{
  background:red;
  color:#fff;
  font-size:35rpx;
  height:90rpx;
  line-height:90rpx;
  margin-left:20rpx;
  padding:0 60rpx;
}